breathe==4.2.0
alabaster==0.7.7
appnope==0.1.0
autopep8
Babel==2.2.0
decorator==4.0.9
docutils==0.12
h5py==2.5.0
ipython==4.1.2
matplotlib==1.4.3
nibabel==2.0.2
numpy==1.9.3
pep8==1.7.0
pickleshare==0.5
Pillow==3.1.1
psutil==4.0.0
pycrypto==2.6.1
pyflakes==1.1.0
PyOpenGL==3.1.1a1
qimage2ndarray==1.5
scipy==0.16.0
Sphinx
sphinx-rtd-theme
