[Desktop Entry]
Version=1.0
Name=GPI
Comment=Start GPI
Exec=/opt/anaconda1anaconda2anaconda3/bin/gpi
Icon=/opt/anaconda1anaconda2anaconda3/share/gpi/iclogo.png
Terminal=true
Type=Application
Categories=Utility;Application;
# https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles
