[Desktop Entry]
Version=1.0
Name=GPI Documentation
Comment=Open the docs directory.
Exec=/opt/gpi/launch/openGPIDocs
Icon=/opt/gpi/lib/gpi/graphics/docslogo.png
Terminal=false
Type=Application
Categories=Application;
# https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles
