[Desktop Entry]
Version=1.0
Name=GPI User Development Directory
Comment=Open user's development directory.
Exec=/opt/gpi/launch/openGPIUsrDev
Icon=/opt/gpi/lib/gpi/graphics/devlogo.png
Terminal=false
Type=Application
Categories=Utility;
# https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles
